.saved-articles__header-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 104px 56px 102px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.saved-articles__title {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #1A1B2280;
  opacity: 50%;
  margin: 0 0 24px 0;
}
.saved-articles__user-info {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-bottom: 30px;
  margin-top: 28px;
}
.saved-articles__keywords {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text);
}
.saved-articles__keywords-list {
  font-weight: 700;
  color: var(--color-text);
}
.saved-articles__news-list-wrapper {
  display: flex;
  justify-content: center;
  margin: 62px auto;
}
.saved-articles__news-list-wrapper .news-results-list {
  background-color: #f5f6f7;
  padding: 71px 20px 62px 20px;
  margin: 0 auto;
}
.saved-articles__empty {
  /* width: 712px; */
  margin: 40px 0 62px 104px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--color-muted);
  opacity: 1;
}
section {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .saved-articles__header-block {
    /* width: 768px; */
    /* margin: 32px auto 32px; */
    padding-left: 0;
  }
  .saved-articles__title,
  .saved-articles__user-info,
  .saved-articles__keywords {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .saved-articles__header-block {
    padding: 120px 16px 32px;
    border-radius: 0;
  }
  .saved-articles__user-info {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .saved-articles__news-list-wrapper {
    margin: 40px 0 12px 0;
    padding: 0 16px;
  }
  .saved-articles__title {
    margin-bottom: 16px;
  }
}
