.news-loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
}

.news-loading__img {
  width: 82.5px;
  height: 82.5px;
  object-fit: contain;
  display: block;
  opacity: 1;
  color: #6c707a;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.news-loading__text {
  width: 280px;
  height: 24px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #6c707a;
  text-align: center;
  opacity: 1;
  margin: 0;
  padding: 0;
}
